/* Style the body to set default styles for the page.*/
* {
  padding: 0;
  margin: 0;
 font-family: 'Comic Sans MS',sans-serif; 
color:indigo; 
font-size: 16px
}

html {
  background-color: lemonchiffon;
  margin: 20px;
}

h1 { 
  text-align: center;
  color:firebrick;
  font-size: 3.5rem;
  text-transform:uppercase;
}

h2 { 
  color:mediumvioletred;
  font-size: 2.0rem;
  text-decoration: underline;
  text-transform:uppercase;
}

h3 { 
  text-align: center;
  font-size: 1.3rem;
  color: midnightblue;
   }

.bake {
  font-weight: bold;
  font-size: 1.5rem;
  color:mediumpurple;
  text-align: center;
}

.author {
  text-align: center;
  font-style: italic;
}

ul, ol {
  margin-left: 25px;
}

ul li{
  list-style-type: square;
}

ol li{
  list-style-type: upper-roman;
}



img{
  height: 500px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



a:link{
  color: deeppink ;
    }
a:visited{
  color: red;
}

a:hover{
  color: magenta;
  text-decoration: none;
}

a:active{
  color: salmon;
}
  
/*select html and set the background color, color, font family with fallback, and font size. */
/*change img height to 300px and width to auto*/
/*change subtitle font size to larger than the default. */
/*Change the times to a bold font-weight*/
/*select the li inside of ingredients to list-style: square*/
/*select the times inside of the lists and change to a different color*/
/*select the link and change it's color; */
/*select h1 and h2 elements and change their case to uppercase*/
